body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

:focus {
  outline: -webkit-focus-ring-color auto 1px; }

.navbar {
  padding: 10px 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: white; }

.navbar-inner {
  height: 50px;
  display: flex;
  flex-direction: row; }

.navbar-button {
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  color: black;
  border: none;
  margin: 0 5px;
  letter-spacing: 8px; }

.intro {
  height: 100vh;
  width: 100vw;
  background-color: white;
  background-image: url("/intro-image.jpg");
  background-position: center;
  background-size: cover; }

.photo-panel-list {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center; }

.photo-panel {
  width: 45%;
  padding-top: 45%;
  margin: 5px; }
